.footer {
  padding: 0 20px;
  width: 100%;
  height: 306px;
  position: relative;
  background: rgba(93, 35, 95, 0.15);
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  height: 100%;
  padding: 56px 0;
  display: flex;
}

.info_container {
  margin-right: 100px;
}

.links_container {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
}

.socials_container {
  margin-left: auto;
  margin-right: 165px;
}

.logo {
  width: 84px;
  height: 45px;
  background: url(../public/Logo.svg) center / contain no-repeat;
}

.info {
  margin-top: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 102.9%;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.copyright {
  position: absolute;
  margin-top: 47px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  text-transform: uppercase;
}

.link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.tg_link {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../public/tg.svg) center/contain no-repeat;
}

.vk_link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../public/vk.svg) center/contain no-repeat;
}

.title {
  width: 225px;
}

.title_word {
  margin: unset;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.title_word::first-letter {
  color: #9b35eb;
  font-weight: 600;
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .info_container {
    margin-right: 156px;
  }

  .links_container {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .socials_container {
    margin-left: auto;
    margin-right: 0px;
  }
}

@media (max-width: 979.98px) {
  .footer {
    padding: 0 20px;
    width: 100%;
    height: 306px;
    position: relative;
    background: rgba(93, 35, 95, 0.15);
  }

  .container {
    max-width: 340px;
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
  }

  .info_container {
    margin-right: unset;
  }

  .links_container {
    display: none;
  }

  .socials_container {
    margin-left: auto;
    margin-right: unset;
  }

  .tg_link {
    margin-right: 16px;
  }

  .title {
    display: none;
  }

  .title_word {
    display: none;
  }
}
