.container {
  height: 125px;
  width: 100%;
  background: rgba(16, 15, 18, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(193 197 207 / 24%);
}

.header {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1275px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo_container {
  flex-basis: 0;
  flex-grow: 1;
}

.logo {
  width: 84px;
  height: 45px;
  background: url(../public/Logo.svg) center / contain no-repeat;
}

.request_button_container {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.request_button {
  width: 187px;
  height: 38px;
  opacity: 0.9;
  border: 2px solid #9b35eb;
  border-radius: 50px;
  background: unset;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
}

.menu {
  padding: 0 20px;
  max-width: 451px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 0;
  flex-grow: 2;
  gap: 10px;
}

.menu_button {
  background: unset;
  padding: 20px 0px 7px 0px;
  margin: unset;
  border: unset;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  align-self: center;
  height: 100%;
  cursor: pointer;
  white-space: nowrap;
  font-family: Raleway, sans-serif;
}

.menu_button:hover {
  text-decoration: underline;
  text-decoration-color: #9b35eb;
  color: #dddddd;
}
