.container {
  background: radial-gradient(
      ellipse 1711px 1891px at -365px -287px,
      rgba(155, 53, 235, 0.2) 0%,
      rgba(155, 53, 235, 0) 100%
    ),
    #080a0d;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;
  width: 100%;
}

.footer {
  width: 100%;
}
