.container {
  position: relative;
  padding-bottom: 69px;
  transition: all 0.33s;
}

.fon {
  position: absolute;
  width: 749px;
  height: 629px;
  left: auto;
  right: 22px;
  top: auto;
  bottom: -38px;
  background: url(../public/section1_fon.png) center / contain no-repeat;
}

.bg {
  position: absolute;
  left: auto;
  right: 0px;
  top: 46px;
  bottom: auto;
  width: 605px;
  height: 532px;
}

.bg1 {
  position: absolute;
  width: 156px;
  height: 156px;
  left: 307px;
  right: auto;
  top: 376px;
  bottom: auto;
  background-image: url(../public/a09c9ada179ed532598fa65b9967ad9e.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.33s;
}

.bg2 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  background-image: url(../public/a09c9ada179ed532598fa65b9967ad9e.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.33s;
  filter: blur(2px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg_text {
  position: absolute;
  width: 224px;
  height: 231px;
  left: 380px;
  right: auto;
  top: 112px;
  bottom: auto;
  background-image: url(../public/Group51.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.33s;
}

.bg_card {
  position: absolute;
  width: 178px;
  height: 333px;
  left: 165px;
  right: auto;
  top: 149px;
  bottom: auto;
  background-image: url(../public/6be0c8fb42af59ebfa095b9c2aeee72a.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.33s;

  filter: drop-shadow(0px 7.90156px 27.6554px rgba(0, 0, 0, 0.7));
  transform: matrix(1, 0.02, -0.02, 1, 0, 0);
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  margin: unset;
  padding-top: 178px;
  font-family: Raleway, sans-serif;
  max-width: 684px;
  font-weight: 700;
  font-size: 60px;
  line-height: 102.9%;
  color: #ffffff;
  transition: all 0.33s;
}

.marketplaces {
  margin-top: 44px;
  display: flex;
  gap: 40px;
}

.marketplace1 {
  margin: unset;
  padding: 0 6px 0 1px;
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 102.9%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.marketplace1::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 7px;
  left: 0;
  right: auto;
  top: auto;
  bottom: 2px;
  background: #bd39c9;
  border-radius: 0px 20px;
}

.marketplace2 {
  margin: unset;
  padding: 0 9px 0 9px;
  position: relative;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 102.9%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.marketplace2::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 7px;
  left: 0;
  right: auto;
  top: auto;
  bottom: 2px;
  background: #4035eb;
  border-radius: 20px 0px;
}

.text {
  margin: unset;
  margin-top: 47px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #c1c5cf;
  transition: all 0.33s;
  max-width: 700px;
}

.text_bold {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.features {
  margin-top: 104px;
  width: 473px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 35px;
  row-gap: 40px;
}

.feature {
}

.feature_value {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 102.9%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.feature_text {
  margin-top: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #c1c5cf;
}

.button1_wrapper {
}

.button2_wrapper {
}

.button1 {
  padding: 8px 33px;
  background: unset;
  opacity: 0.9;
  border: 2px solid #9b35eb;
  border-radius: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.button2 {
  padding: 10px 35px;
  background: #9b35eb;
  border: unset;
  opacity: 0.8;
  border-radius: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 83px;
  }

  .title {
    padding-top: 91px;
    width: 569px;
    font-size: 50px;
  }

  .fon {
    position: absolute;
    width: 580px;
    height: 487px;
    left: auto;
    right: 0px;
    top: auto;
    bottom: 18px;
  }

  .bg {
    transform: translate(13.5%, -13.5%) scale(0.771);
    top: 108px;
  }

  .text {
    max-width: 300px;
  }

  .marketplaces {
    margin-top: 66px;
  }
}

@media (max-width: 979.98px) {
  .container {
    margin: 0 auto;
    max-width: 340px;
    padding-bottom: 15px;
  }

  .fon {
    width: 348px;
    height: 292px;
    left: -19px;
    right: auto;
    top: 222px;
    bottom: auto;
  }

  .bg {
    transform: translate(50%, -22.3%) scale(0.554);
    top: 165px;
    right: 50%;
  }

  .title {
    padding-top: 55px;
    max-width: 334px;
    font-size: 28px;
  }

  .marketplaces {
    margin-top: 10px;
  }

  .marketplace1 {
    padding: 0 9px 0 5px;
    font-size: 16px;
  }

  .marketplace2 {
    padding: 0 9px 0 9px;
    font-size: 16px;
  }

  .marketplace1::before {
    height: 6px;
    bottom: 0px;
  }

  .marketplace2::before {
    height: 6px;
    bottom: 0px;
  }

  .text {
    margin: 0 auto;
    margin-top: 342px;
    font-size: 14px;
    line-height: 16px;
    max-width: 275px;
  }

  .text_bold {
    font-size: 14px;
    line-height: 16px;
  }

  .features {
    margin-top: 18px;
    margin-bottom: 15px;
    width: unset;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: ". ." "b1 b1" " b2 b2";
    column-gap: 18px;
    row-gap: 0px;
    justify-content: center;
  }

  .feature_value {
    font-size: 38px;
  }

  .feature_text {
    margin-top: 7px;
    font-size: 12px;
    line-height: 14px;
  }

  .button1_wrapper {
    grid-area: b1;
    margin: 0 auto;
  }

  .button2_wrapper {
    grid-area: b2;
    margin: 0 auto;
  }

  .button1 {
    margin-top: 26px;
    padding: 10px;
    width: 235px;
    font-size: 17px;
    line-height: 20px;
  }

  .button2 {
    margin-top: 15px;
    padding: 10px;
    width: 235px;
    font-size: 17px;
    line-height: 20px;
  }
}
