.container {
  position: relative;
  height: 885px;
}

.bg1 {
  position: absolute;
  top: 70px;
  width: 589px;
  height: 597px;
}

.bg2 {
  position: absolute;
  top: 107px;
  right: -5px;
  width: 670px;
  height: 678px;
}

.bg3 {
  position: absolute;
  top: 292px;
  right: 447px;
  width: 182px;
  height: 367px;
}

.bg4 {
  position: absolute;
  top: 200px;
  right: 113px;
  width: 227px;
  height: 457px;
  filter: drop-shadow(0px 9.20111px 32.2039px rgba(0, 0, 0, 0.7));
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .bg1 {
    position: absolute;
    top: 70px;
    width: 589px;
    height: 597px;
  }

  .bg2 {
    position: absolute;
    top: 159px;
    right: -66px;
    width: 580px;
    height: 586px;
  }

  .bg3 {
    position: absolute;
    top: 390px;
    right: 290px;
    width: 170px;
    height: 341px;
  }

  .bg4 {
    position: absolute;
    top: 305px;
    right: 24px;
    width: 212px;
    height: 425px;
    filter: drop-shadow(0px 9.20111px 32.2039px rgba(0, 0, 0, 0.7));
  }
}

@media (max-width: 979.98px) {
  .container {
    margin: 0 auto;
    max-width: 340px;
    height: 674px;
  }

  .bg1 {
    top: -19px;
    left: 7px;
    width: 342px;
    height: 347px;
  }

  .bg2 {
    top: auto;
    bottom: 30px;
    right: 0px;
    width: 323px;
    height: 356px;
  }

  .bg3 {
    top: 390px;
    right: auto;
    left: 55px;
    width: 88px;
    height: 177px;
  }

  .bg4 {
    top: 346px;
    right: 38px;
    width: 110px;
    height: 221px;
  }
}
