.container {
  position: relative;
  height: 875px;
}

.title {
  margin: unset;
  padding-top: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 102.9%;
  color: #ffffff;
  text-align: center;
}

.bg1 {
  position: absolute;
  top: 285px;
  left: 232px;
}

.bg2 {
  position: absolute;
  left: auto;
  right: 222px;
  top: 164px;
}

.bg3 {
  position: absolute;
  left: auto;
  right: -84px;
  top: -74px;
}

.bg4 {
  position: absolute;
  right: -8px;
  top: 444px;
  left: auto;
}

.bg5 {
  position: absolute;
  top: 560px;
  left: 4px;
}

.bg6 {
  position: absolute;
  top: 256px;
  left: 468px;
}
