.container {
  position: relative;
  /* height: 875px; */
  padding-top: 115px;
  padding-bottom: 196px;
}

.bg1 {
  z-index: 1;
  position: absolute;
  left: -213px;
  right: auto;
  top: auto;
  bottom: 37px;
}

.bg2 {
  position: absolute;
  left: auto;
  right: -105px;
  top: 150px;
  bottom: auto;
}

.title {
  margin: unset;
  margin-bottom: 64px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 102.9%;
  color: #ffffff;
}

.title_colored {
  color: #9b35eb;
}

.cards {
  display: flex;
  gap: 11px;
}

.card {
  position: relative;
  overflow: hidden;
  padding: 38px 0 81px 32px;
  max-width: 398px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(15px);
  border-radius: 6px;
}

.card::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  border-radius: 0px;
  background: url(../public/work_bg4.svg) right bottom / contain no-repeat;
  pointer-events: none;
}

.card_number {
  position: absolute;
  top: 15px;
  left: 13px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 102.9%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(255, 255, 255, 0.02);
}

.card_title {
  margin: unset;
  margin-bottom: 32px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 102.9%;
  color: #ffffff;
}

.card_text {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #c1c5cf;
}

.card_text_highlight {
  font-family: "Raleway";
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
}

.card_text_highlight2 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
}

.card_content1 {
  max-width: 293px;
}

.card_content3 {
  max-width: 240px;
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .title {
    margin-bottom: 52px;
    font-size: 45px;
  }

  .bg1 {
    width: 327px;
    height: 256px;
    left: -146px;
    bottom: 37px;
  }

  .bg2 {
    width: 136px;
    height: 143px;
    right: -80px;
    top: 140px;
  }

  .card {
    padding: 30px 0 67px 25px;
  }

  .card_number {
    font-size: 56px;
  }

  .card_title {
    margin-bottom: 25px;
    font-size: 22px;
  }

  .card_text {
    margin-top: 16px;
    font-size: 13px;
  }

  .card_text_highlight {
    font-size: 13px;
  }

  .card_text_highlight2 {
    font-size: 13px;
  }
}
