.bg_container {
  position: relative;
  margin: 0 -1px;
  z-index: 1;
}

.container {
  position: relative;
  margin: 0 -1px;
  padding-bottom: 107px;
  z-index: 0;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  overflow: hidden;
}

.container::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  border-radius: 0px;
  background: url(../public/work_bg.svg) right bottom / contain no-repeat;
  pointer-events: none;
}

.bg1 {
  position: absolute;
  z-index: -1;
  left: -47px;
  right: auto;
  top: auto;
  bottom: 63px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg2 {
  position: absolute;
  z-index: 1;
  left: 372px;
  right: auto;
  top: 48px;
  bottom: auto;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg3 {
  position: absolute;
  z-index: 1;
  left: auto;
  right: 252px;
  top: auto;
  bottom: -28px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bg4 {
  position: absolute;
  z-index: 1;
  left: auto;
  right: -163px;
  top: -112px;
  bottom: auto;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title {
  margin: unset;
  padding-top: 82px;
  padding-bottom: 72px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 102.9%;
  color: #ffffff;
  text-align: center;
}

.slider_container {
  padding: 0 22px 0 18px;
  position: relative;
}

.slider_container::after {
  content: "";
  position: absolute;
  width: 258px;
  height: 258px;
  top: -20px;
  left: 6px;
  right: auto;
  bottom: auto;
  background: url(../public/Group42.svg) center / contain no-repeat;
}

.slider_container::before {
  content: "";
  position: absolute;
  width: 258px;
  height: 258px;
  top: auto;
  left: auto;
  right: 8px;
  bottom: -17px;
  background: url(../public/Group41.svg) center / contain no-repeat;
}

.slider {
}

.slide_container {
  border-radius: 5.78618px;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 133.48%;
}

.bullets {
  padding: unset;
  margin: unset;
  position: absolute;
  top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bullet {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
}

.bullets [class*="slick-active"] .bullet::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background: unset;
  opacity: 0.8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bullet::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
}

.button {
  padding: 10px 40px;
  margin: 143px auto 0;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #bd39c9;
  opacity: 0.8;
  border-radius: 50px;
  cursor: pointer;
  border: unset;
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .container {
    margin-top: 87px;
    padding-bottom: 82px;
  }

  .bg1 {
    width: 74px;
    height: 74px;
    left: -36px;
    bottom: 63px;
  }

  .bg2 {
    width: 53px;
    height: 53px;
    left: 290px;
    top: 37px;
  }

  .bg3 {
    width: 63px;
    height: 63px;
    right: 223px;
    bottom: -20px;
  }

  .bg4 {
    width: 276px;
    height: 276px;
    right: -120px;
    top: -90px;
  }

  .title {
    padding-top: 64px;
    padding-bottom: 68px;
    font-size: 45px;
  }

  .bullets {
    top: 30px;
    transform: scale(0.8);
  }

  .button {
    padding: 8px 31px;
    margin: 130px auto 0;
    font-size: 14px;
  }
}

@media (max-width: 979.98px) {
  .bg_container {
    margin: 0 auto;
    max-width: 340px;
    padding-top: 43px;
    padding-bottom: 66px;
    position: relative;
    z-index: 1;
  }

  .container {
    padding-bottom: 20px;
    backdrop-filter: blur(3.4px);
    border: 0.5px solid rgba(255, 255, 255, 0.03);
    border-radius: 5px;

    overflow: visible;
  }

  .container::before {
    content: unset;
  }

  .bg1 {
    width: 30px;
    height: 30px;
    left: -15px;
    right: auto;
    top: auto;
    bottom: 188px;
  }

  .bg2 {
    width: 32px;
    height: 32px;
    left: 39px;
    right: auto;
    top: 27px;
    bottom: auto;
  }

  .bg3 {
    width: 36px;
    height: 36px;
    left: auto;
    right: 10px;
    top: auto;
    bottom: 48px;
  }

  .bg4 {
    width: 137px;
    height: 137px;
    left: auto;
    right: -48px;
    top: -26px;
    bottom: auto;
  }

  .title {
    margin: unset;
    padding-top: 16px;
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 28px;
  }

  .button {
    padding: 10px;
    margin: 32px auto 0;
    width: 225px;
  }

  .slider_container {
    padding: 0 16px;
    margin: unset;
  }

  .slider_container::after {
    content: unset;
  }

  .slider_container::before {
    content: unset;
  }

  .slider {
    /* width: 256px; */
    overflow: visible;
  }

  .slide_container {
    width: 255px;
  }
}
