.container {
  position: relative;
  height: 875px;
}

.title {
  margin: unset;
  padding-top: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 102.9%;
  color: #ffffff;
  text-align: center;
}

.bg1 {
  position: absolute;
  top: 285px;
  left: 232px;
}

.bg2 {
  position: absolute;
  left: auto;
  right: 222px;
  top: 164px;
}

.bg3 {
  position: absolute;
  left: auto;
  right: -84px;
  top: -74px;
}

.bg4 {
  position: absolute;
  right: -8px;
  top: 444px;
  left: auto;
}

.bg5 {
  position: absolute;
  top: 560px;
  left: 4px;
}

.bg6 {
  position: absolute;
  top: 256px;
  left: 468px;
}

@media (min-width: 980px) and (max-width: 1219.98px) {
  .container {
    height: 790px;
    margin: 0 auto;
    max-width: 980px;
  }

  .title {
    padding-top: 57px;
    font-size: 45px;
  }

  .bg1 {
    width: 194px;
    height: auto;
    left: 224px;
    top: 212px;
  }

  .bg2 {
    width: 369px;
    height: auto;
    right: 193px;
    top: 152px;
  }

  .bg3 {
    width: 650px;
    height: 650px;
    right: 94px;
    top: 35px;
  }

  .bg4 {
    width: 329px;
    height: auto;
    right: -14px;
    top: 404px;
  }

  .bg5 {
    width: 253px;
    height: auto;
    top: 500px;
    left: -7px;
  }

  .bg6 {
    height: auto;
    width: 96px;
    top: 169px;
    left: 371px;
  }
}

@media (max-width: 979.98px) {
  .container {
    margin: 0 auto;
    max-width: 340px;
    height: 526px;
  }

  .title {
    padding-top: 36px;
    font-size: 28px;
  }

  .bg1 {
    width: 100px;
    height: auto;
    left: 34px;
    top: 173px;
    transform: rotate(-2deg);
  }

  .bg2 {
    width: 242px;
    height: auto;
    right: -16px;
    top: 93px;
    transform: rotate(-1deg);
  }

  .bg3 {
    width: 364px;
    height: auto;
    right: -85px;
    top: 91px;
  }

  .bg4 {
    width: 174px;
    height: auto;
    right: -31px;
    top: 388px;
    transform: rotate(-1deg);
  }

  .bg5 {
    width: 140px;
    height: auto;
    top: 378px;
    transform: rotate(-1deg);
    left: -25px;
  }

  .bg6 {
    height: auto;
    width: 46px;
    top: 134px;
    left: 94px;
  }
}

@media (max-width: 374.98px) {
  .container {
    margin: 0 auto;
    max-width: 280px;
    height: 526px;
  }

  .title {
    padding-top: 76px;
    font-size: 28px;
  }

  .bg1 {
    width: 86px;
    height: auto;
    left: 20px;
    transform: rotate(-2deg);
    top: 177px;
  }

  .bg2 {
    width: 210px;
    height: auto;
    right: -19px;
    top: 98px;
    transform: rotate(-1deg);
  }

  .bg3 {
    width: 340px;
    height: 340px;
    right: -85px;
    top: 73px;
  }

  .bg4 {
    width: 168px;
    height: auto;
    right: -36px;
    top: 353px;
    transform: rotate(-1deg);
  }

  .bg5 {
    width: 102px;
    height: auto;
    top: 355px;
    left: -14px;
    transform: rotate(-1deg);
  }

  .bg6 {
    height: auto;
    width: 43px;
    top: 147px;
    left: 71px;
  }
}
