.container {
  position: relative;
  padding: 104px 21px 73px 22px;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 138px;
}

.feature {
  position: relative;
}

.feature:nth-child(n)::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 74px;
  top: 50%;
  left: auto;
  right: -69px;
  transform: translateY(-50%);
  background: linear-gradient(
    rgba(155, 53, 235, 0),
    rgba(155, 53, 235, 1),
    rgba(155, 53, 235, 0)
  );
}

.feature:last-child::before {
  content: unset;
}

.feature_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 102.9%;
  color: #fff;
}

.feature_text,
.feature_text2,
.feature_text3 {
  max-width: 176px;
  margin-top: 12px;
  font-family: "Raleway";
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
}

.feature_text2 {
  max-width: 197px;
  font-weight: 400;
  color: #c1c5cf;
}

.feature_text3 {
  max-width: 179px;
  font-weight: 400;
  color: #c1c5cf;
}

.feature_text_gray {
  font-weight: 400;
  color: #c1c5cf;
}

.feature_link {
  font-variation-settings: "wght" 500;
  color: #ffffff;
  text-decoration: underline;
}
